.VideoCard {
  max-width: 30rem;
}

.BodyWrapper {
  padding: 2em;
  display: flex;
}

.ParametersPaper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: center;
  padding: 1em;
  margin-right: 2em;
  height: fit-content;
}

.MuiToolbar-gutters {
  background-color: #2195f3;
}

.MuiSvgIcon-root {
  width: 8em !important;
  height: auto !important;
}
